*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    padding: 30px;
    

}
.menudropdown {
    width: 100%;
    height: 100px;
    margin: 0px auto;

}
.menudropdown ul {
     padding: 0px;

}

.menudropdown ul li { 
    float: left; 
    color: white;
    width: 200px;
    line-height: 50px;
    list-style:none;
    height: 50px;
    font-size: none;
    text-align: center;
     
}

.menudropdown ul li a {
    list-style: none;
    text-decoration: none;
}

.menudropdown ul li ul  {
     display: none;
}
.menudropdown ul li:hover > ul{
    display: block;
     
} 
.menudropdown ul li a:hover {
    opacity: 0.9;
    color: red;
}

.menudropdown ul li ul li{
    position: relative;
} 

.menudropdown ul li ul li ul {
    position : absolute;
    left: 200px;
    top: 0px;
}
