* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    padding: 10px; 
}

#dtn {
    padding: 5px 7px;
    background-color:rgb(239,76,40);
    color: white;
    position: relative;
    top: 7px;
    left: 30px;
    border: none;
}

#dtn:hover {
    background-color: orange;
}

#dtn>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.logo h3{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 50px;
    position: relative;
    
}

.menudropdown {
    width: 70%;
    height: 70px;
    position: absolute;
    left: 300px;
    border: 2px solid black;
    top: 20px;
    border: none;
}

.menudropdown ul {
    padding: 0px;

}

.menudropdown ul li {
    float: left;
    color: white;
    width: 200px;
    line-height: 50px;
    list-style: none;
    height: 50px;
    font-size: none;
    text-align: center;

}

.menudropdown ul li a {
    list-style: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: black;
}

.menudropdown ul li ul {
    display: none;

}

.menudropdown ul li:hover>ul {
    display: block;
    border: 2px solid black;
    color: black;
}

.menudropdown li>a:hover {
    opacity: 0.9;
    color: red;
}

.menudropdown ul>li>a>ul>li>a:hover {
    color: brown;
    text-decoration: none;
}

/*  */

#box1 {
    border: 2px solid black;
    padding: 10px;
    width: 10%;
    text-align: ;
}


.box-line1{
    display: flex;

}
 
